.new-office.form-row {
	margin: 18px 0;
	border: solid 1px #d7dce2;
	border-radius: 2px;
	padding: 14px 0 26px;
}

.new-office > .col-elem {
	-ms-flex: 0 0 37.5%;
	flex: 0 0 37.5%;
}

.new-office > .col-btn {
	min-width: 210px;
	padding: 0 32px 0 0 !important;
	text-align: right;
	flex: 0 0 25%;
}

.new-office .row {
	flex-wrap: nowrap;
}

.new-office .col-form-label {
	width: 126px;
	text-align: right;
}

.new-office .btn {
	margin-bottom: 8px;
}

.new-office .form-group {
	margin: 0 0 6.5px 0;
	padding: 0;
}

.new-office input {
	width: 191px;
}

.new-office .col-form-label {
	padding-right: 11px;
}
