.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input--focused {
	outline: none;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
	position: absolute;
	top: 31px;
	width: 100%;
	background-color: #fff;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	z-index: 2;
	max-height: 171px;
	overflow-y: auto;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	box-shadow: 0 1px 1.5px 1px rgba(0,0,0,.1);
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	position: relative;
	display: block;
	padding: 6px 15px;
	border: solid 1px #d8dde3;
	margin-top: -1px;
}

.react-autosuggest__suggestion:first-child {
	margin-top: 0;
}

.react-autosuggest__container::before {
	content: "\f107";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	color: #175786;
	font-size: 16px;
	position: absolute;
	top: 5px;
	right: 15px;
}

.react-autosuggest__container .form-control {
	padding: 6px 30px 6px 5px;
}

.react-autosuggest__container--open .form-control {
	padding: 5px 30px 5px 15px;
}

.react-autosuggest__suggestions-container .react-autosuggest__suggestion--highlighted {
	background-color: #2888d1;
	color: #fff;
	border: solid 1px #2477b3;
	z-index: 2;
}