.office-wrp {
	color: #334152;
	display: flex;
	flex-wrap: wrap;
	padding: 6px 0;
	border: solid 1px #d7dce2;
	margin: 16px 0;
	border-radius: 2px;
	line-height: 18px;
}

.office-wrp .col-data {
	-ms-flex: 0 0 37.5%;
	flex: 0 0 37.5%;
	min-width: 327px;
	padding: 5px 0;
}

.office-wrp .col-btn {
	min-width: 210px;
	padding: 9px 32px 9px 0 !important;
	text-align: right;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

.office-wrp .btn-outline-dark {
	font-weight: normal;
	background-color: #f7f8fa;
	border-color: #d8dde3;
	letter-spacing: .5px;
}

.office-wrp .col-name {
	width: 110px;
	text-align: right;
	color: #53687e;
	padding: 0 18px 0 0;
}

.office-wrp .fa-check {
	font-size: 13px;
	color: #334152;
}