.side-navbar {
	width: 219px;
	background-color: #e9f0f5;
	border: solid 1px #ffffff;
}

.side-navbar-head {
	width: 217px;
	height: 143px;
	background-color: #175786;
	border-bottom: solid 1px #ffffff;
	text-align: center;
}

.side-navbar-head .layer {
	margin-top: 15px;
	width: 111px;
	height: 111px;
	object-fit: contain;
}

.side-navbar .nav-item {
	position: relative;
}

.side-navbar > .navbar-nav > .nav-item {
	border-bottom: solid 1px #d8dde3;
}

.side-navbar > .navbar-nav > .nav-item > a {
	text-transform: uppercase;
}

.side-navbar .nav-item .nav-link {
	color: #53687e;
	padding: 13px 0 13px 23px;
}

.side-navbar .nav-item .nav-link:hover,
.side-navbar .nav-item .nav-link.active {
	font-weight: 600;
	color: #334152;
}

.side-navbar .nav-item .nav-item .nav-link {
	padding: 5.5px 0 5.5px 23px;
}

.side-navbar .nav-item.active .nav-item.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	height: 24px;
	border-left: solid 2px #2888d1;
}