html,
body,
#root {
	height: 100%;
	background-color: #f7f8fa;
	font-family: 'Open Sans';
	font-size: 14px;
	color: #334152;
}

body hr {
	margin: 3px 0;
	border-style: dashed;
	border-color: #b7bdc5;
}

body .btn {
	letter-spacing: .6px;
	border-radius: 2px;
	padding: 0 16px;
	font-weight: bold;
	height: 32px;
	margin-right: 32px;
}

body .btn:last-child {
	margin-right: 0;
}

body .btn-sm {
	line-height: 14px;
	padding: 4px 16px;
	font-size: 14px;
	margin-right: 10px;
	height: 24px;
}

body .btn-sm:last-child {
	margin-right: 0;
}

body .btn-outline-dark {
	background-color: #ffffff;
	border: solid 1px #53687e;
	color: #53687e;
	line-height: 1;
}

body .btn-primary {
	background-color: #2888d1;
	border: solid 1px #2888d1;
}

body i {
	margin-right: 5px;
	color: #2477b3;
}

body input,
body .form-control {
	color: #334152;
	height: 32px;
	border-radius: 2px;
	border: solid 1px #d8dde3;
	padding: 6px 5px;
}

body input:focus {
	border-color: #5baaff;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.15rem rgba(0, 123, 255, 0.25);
}

body input.is-invalid:focus {
	-webkit-box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
	box-shadow: 0 0 0 0.15rem rgba(220, 53, 69, 0.25);
}

body input.valid {
	background-color: #f7f8fa;
}

body .container-fluid {
	min-width: 720px;
	padding: 24px !important;
}

body .page-content {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	border: solid 1px #eaeaea;
}

body .content-inner {
	padding: 20px 62px 6px 62px;
	width: calc(100% - 219px);
}

body .custom-checkbox .custom-control-label::before:checked {
	background-color: #2888d1;
}

body .custom-checkbox .custom-control-label::before,
body .custom-checkbox .custom-control-label::after{
	border-radius: 2px !important;
	width: 16px;
	height: 16px;
	top: 3px;
}

body .custom-checkbox {
	margin: 6px 0;
	padding-left: 25px;
}

body .modal-backdrop {
	opacity: 0.34 !important;
	background: rgba(0, 0, 0, 0.3) !important;
}

.modal-content .modal-header .close {
	display: none;
}

.modal-content .modal-body {
	padding: 16px 33px 16px 33px;
}

.modal-content {
	border-radius: 4px;
	box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.24), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
	background-color: #ffffff;
	border: solid 1px #adadad;
}