.header.navbar {
	min-height: 64px;
	background-color: #175786;
	padding: 10.5px 4px 12px 5px;
	letter-spacing: 0.6px;
}

.header .link-spd {
	margin-left: 20px;
	display: inline-block;
}

.header .spd-u {
	width: 123px;
	height: 33px;
	object-fit: contain;
}

.header .navbar-toggler {
	margin-right: 20px;
}

.header .link-profile-editor,
.header.navbar .navbar-nav .nav-link {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.header .link-profile-editor:hover,
.header .navbar-nav .nav-link:hover {
	color: #ccc;
}