.office-delete .title {
	line-height: 24px;
	margin-bottom: 14px;
}

.office-delete .form-group {
	padding: 0;
	margin: 0;
}

.office-delete .textarea-wrp .col-form-label{
	color: #8c96a3;
	padding: 10px 0 3px 2px;
}

.office-delete .textarea-wrp .form-control{
	height: 67px;
	resize: none;
}

.office-delete .row-btn {
	padding-top: 18px;
}

.office-delete .react-autosuggest__container,
.office-delete .form-control {
	width: 100%;
}