.header-page {
	margin: 0 -2px;
	padding-top: 17px;
}

.header-page > span {
	white-space: nowrap;
	display: inline-block;
	position: relative;
	font-size: 32px;
	line-height: 1.47;
	letter-spacing: 1.8px;
	text-transform: uppercase;
}

.header-page .parent-name {
	color: #b7bdc4;
}

.header-page .children-name {
	color: #53687e;
}

.header-page .children-name ~ .parent-name {
	padding-left: 40px;
}

.header-page .children-name ~ .parent-name::before {
	content: "";
	left: 19px;
	top: 10px;
	width: 2px;
	height: 32px;
	background-color: #b7bdc4;
	position: absolute;
}

.header-page > div {
	display: block;
	line-height: 1.71;
	letter-spacing: .4px;
	color: #334152;
	margin: 20px 2px 10px;
}

.header-page > hr {
	margin: 24px 2px 0 2px;
}